/* Box Model */

*
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html
{
    background-color: #42459e;
}

body
{
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    line-height: 1.4;

    margin: 2em 10%;
    padding: 4em 2em 2em 2em;

    color: #555;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong
{
    color: #333;
}

main header,
footer
{
    font-family: 'Lato', sans-serif;

    text-align: center;
}

p
{
    text-align: justify;
}

#bucket
{
    width: 2em;
    margin-bottom: -1em;
}


/* Navigation */

nav
{
    /* eliminates white space between links */
    padding: 0;

    background-color: #42459e;
}

nav ul
{
    display: flex;
    /*justify-content: space-between;
*/
    margin: 0;
    padding: 0; /* removes default ul padding */

    list-style-type: none;
}

nav ul li
{
    flex: 1;

    line-height: 4em;

    display: inline;

    color: white;
    background-color: #42459e;
}

nav ul li a
{
    margin: 0 1em;

    text-decoration: none;

    color: #eee;
}

nav ul li a:visited
{
    color: #eee;
}

nav ul li a:hover
{
    text-shadow: none;
}

.middle-menu
{
    padding: 0 1.5em;

    background-color: #9e9b42;
}

footer
{
    margin-top: 1em;
}


/* add spacing for footer menu */

footer p
{
    margin-top: 2em;

    text-align: center;

    color: #dfdfdf;
}


/* Links */

a
{
    text-decoration: none;

    color: #9e428a;
}

a:hover
{
    text-shadow: 1px 1px 2px #42459e;
}

a:visited
{
    color: #6d429e;
}

/* layout */

.images {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.images img {
  width: calc((100% - 1em) / 3);
  flex: 1 1;
}

.center-item {
  padding: 0 0.5em;
}

.widescreen {
  width: 100%;
}
aside {
  display: flex;
  align-items: flex-end;
  margin: 1em 0;
}

aside h4 {
  margin: 0;
}

aside a {
  margin-left: 1em;
}

/* Media queries */
@media all and (max-width:1160px) {
  nav ul
  {
    flex-wrap: wrap;
  }

  nav ul li {
    flex: 1 1 50%;
  }
}

@media all and (max-width:785px) {
  nav ul li {
    flex: 0 0 100%;
    line-height: 2em;
  }
  body {
    padding: 0;
  }

  html {
    background-color: #fff;
  }
}

@media all and (max-width: 650px) {
  .images {
    flex-direction: column;
  }
  .images img {
    width: 100%;
  }
  .center-item {
    padding: 0.5em 0;
  }
}

@media all and (max-width:910px) {
    aside {
        flex-direction: column;
        align-items: flex-start; 
    }

    aside a {
        margin-left: 0; 
    }  
}


