/* Box Model */

*
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html
{
    background-color: rgb(66, 69, 158);
}

body
{
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-size: 80%;
    line-height: 1.3;

    margin: 20px 10%;
    padding: 4em 2em;

    color: #555;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong
{
    color: #333;
}

main header, 
footer
{
    font-family: 'Lato', sans-serif;

    text-align: center;
}

p
{
    text-align: justify;
}


/* Images */

.img
{
    width: 50px;
}

#bucket
{
    width: 2em;
    margin-bottom: -1em;
}


/* Navigation */

nav
{
    /* eliminates white space between links */
    padding: 0;

    background-color: #42459e;
}

nav ul
{
    display: flex;
    /*justify-content: space-between;
*/
    margin: 0;
    padding: 0; /* removes default ul padding */
    
    list-style-type: none;
}

nav ul li
{
    flex: 1;
    
    line-height: 4em;

    display: inline;

    color: white;
    background-color: #42459e;
}

nav ul li a
{
    margin: 0 1em;

    text-decoration: none;

    color: #eee;
}

nav ul li a:visited
{
    color: #eee;
}

nav ul li a:hover
{
    text-shadow: none;
}

.middle-menu
{
    padding: 0 1.5em;

    background-color: #9e9b42;
}

footer
{
    margin-top: 1em;
}


/* add spacing for footer menu */

footer p
{
    margin-top: 2em;

    text-align: center;

    color: #dfdfdf;
}


/* Links */

a
{
    text-decoration: none;

    color: #9e428a;
}

a:hover
{
    text-shadow: 1px 1px 2px #42459e;
}

a:visited
{
    color: #6d429e;
}

/* Media queries */
@media all and (max-width:1160px) {
  nav ul 
  {
    flex-wrap: wrap;
  }
  
  nav ul li {
    flex: 1 1 50%;
  }
}

@media all and (max-width:785px) {
  nav ul li {
    flex: 0 0 100%;
    line-height: 2em;
  }
  body {
    padding-left: 0;
    padding-right: 0; 
  }
  html {
    background-color: white;
  }
}